<h2 class="text-center">My_Page</h2>
<div class="my-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-ms-6">
        <%= image_tag @customer.get_profile_image(300,300) %>
      </div>
      <div class="col-md-6 col-ms-6">
        <%= form_with model: @customer, url: customer_path do |f| %>
          <table>
            <tr>
              <th>氏名:<%= f.text_field :name %></th>
            </tr>
            <tr>
              <th>Accunt_Name:  <%= f.text_field :account %></th>
            </tr>
            <tr>
              <th>Accunt_Image:  <%= f.file_field :profile_image, accept: "image/*" %></th>
            </tr>
            <tr>
              <th>E-mail:  <%= f.text_field :email %></th>
            </tr>
            <tr>
              <th>Tel:  <%= f.text_field :telephone_number %></th>
            </tr>
            <tr>
              <th><%= f.submit "Keep", class: "btn btn-outline-secondary mr-3vw" %> / <%= link_to "Withdrawal", unsubscribe_path, class: "btn btn-outline-secondary mr-3vw" %></th>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
