<link rel="stylesheets" href="public/customers.scss"/>
<h2 class="text-center">My_Page</h2>
<div class="my-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-ms-6">
        <%= image_tag @customer.get_profile_image(300,300) %>
      </div>
      <div class="col-md-6 col-ms-6">
        <ul>
          <li>
            <label><th><%= @customer.followings.count %>フォロー数</label>
          </li>
          <li>
            <label>Name:</label>
             <%= @customer.name %>
          </li>
          <li>
            <label>Accunt_Name:</label>
            <%= @customer.account %>
          </li>
          <li>
            <label>Email:</label>
            <%= @customer.email %>
          </li>
          <li>
            <label>Tel:</label>
            <%= @customer.telephone_number %>
          </li>
          <li>
             <label><%= link_to"Edit", edit_customer_path,class: "btn btn-outline-secondary mr-3vw" %></label>
          </li>
        </ul>
      </div>
    </div>
</div>
</div>