<link rel="stylesheets" href="public/customers.scss"/>
<h2 class="text-center">My_Page</h2>
<div class="my-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-ms-6">
        <%= image_tag @customer.get_profile_image(300,300) %>
      </div>
      <div class="col-md-6 col-ms-6">
        <table>
          <tr>
            <th>
              名前:<%= @customer.name %>
            </th>
          </tr>
          <tr>
            <th>Accunt_Name:  <%= @customer.account %></th>
          </tr>
          <tr>
            <th>E-mail:  <%= @customer.email %></th>
          </tr>
          <tr>
            <th>Tel:  <%= @customer.telephone_number %></th>
          </tr>
          <tr>
            <th><%= link_to "Edit", edit_customer_path, class: "btn btn-outline-secondary mr-3vw" %></th>
          </tr>
        </table>
      </div>
    </div>
</div>
</div>