<h2 class="text-center"><%= @customer.account %>アカウント編集画面</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-ms-6">
      <%= image_tag @customer.get_profile_image(300,300) %>
    </div>
    <div class="col-md-6 col-ms-6">
      <%= form_with model: @customer, url: web_admin_customer_path, method: :patch do |f| %>
      <ul>
        <li>
          <label>Name:</label>
           <%= f.text_field :name %>
        </li>
        <li>
          <label>Accunt_Name:</label>
          <%= f.text_field :account %>
        </li>
        <li>
          <label>Accunt_Image:</label>
          <%= f.file_field :profile_image, accept: "image/*" %>
        </li>
        <li>
          <label>Email:</label>
          <%= f.text_field :email %>
        </li>
        <li>
          <label>Tel:</label>
          <%= f.text_field :telephone_number %>
        </li>
        <li>
           <label>退会ステータス</label>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, "有効" %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, "退会" %>
        </li>
        <li>
           <label><%= f.submit"Keep",class: "btn btn-outline-secondary mr-3vw"%></label>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
