<h1>利用者アカウント編集画面</h1>
<%= image_tag @customer.get_profile_image(100,100) %></br>
<%= form_with model: @customer, url: web_admin_customer_path, method: :patch do |f| %>
氏名:<%= f.text_field :last_name %> <%= f.text_field :first_name %></br>
カナ:<%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></br>
アカウント名:<%= f.text_field :account %></br>
アカウント画像:<%= f.file_field :profile_image, accept: "image/*" %></br>
Email:<%= f.text_field :email %></br>
郵便番号:<%= f.text_field :postal_code %></br>
住所:<%= f.text_field :address %></br>
電話番号:<%= f.text_field :telephone_number %></br>
<%= f.submit "Keep" %>
<% end %>
