<link rel="stylesheets" href="public/customers.scss"/>
<h2 class="text-center"><%= @customer.account %>アカウント詳細画面</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-ms-6">
      <%= image_tag @customer.get_profile_image(300,300) %>
    </div>
    <div class="col-md-6 col-ms-6">
      <ul>
        <li>
          <label><th><%= @customer.followings.count %>フォロー数</label>
        </li>
        <li>
          <label>Name:</label>
           <%= @customer.name %>
        </li>
        <li>
          <label>Accunt_Name:</label>
          <%= @customer.account %>
        </li>
        <li>
          <label>Email:</label>
          <%= @customer.email %>
        </li>
        <li>
          <label>
          <% if @customer.is_deleted %>
              退会済み
            <% else %>
              有効
            <% end %></label>
          <%= @customer.telephone_number %>
        </li>
        <li>
           <label><%= link_to"Edit",edit_web_admin_customer_path,class: "btn btn-outline-secondary mr-3vw" %></label>
           <%= link_to"Followings",followings_web_admin_customer_path(@customer.id),class: "btn btn-outline-secondary mr-3vw" %>
        </li>
      </ul>
    </div>
  </div>
</div>