<link rel="stylesheets" href="public/favorites.scss"/>
<h2 class="text-center">検索一覧</h2>
<div class="container following-area">
  <div class="row d-flex justify-content-around">
    <table>
      <!--検索対象モデルがcontributorの時 -->
      <% if @range == "brand_name" %>
        <tbody>
          <% @contributors.each do |contributor| %>
            <tr>
              <td>
                <div class="card shadow">
                  <%= link_to contributor_path(contributor.id), class: "text-secondary" do %>
                    <%= image_tag contributor.get_profile_image(162,211) %></br>
                    <%= contributor.brand_name %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
      <!--検索対象モデルがUserではない時(= 検索対象モデルがItemの時) -->
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td>
                <div class="card shadow">
                  <%= link_to item_path(item.id), class: "text-secondary" do %>
                    <%= image_tag item.image ,size:'162x211' %></br>
                    <div class="text-center"><%= item.name %></br>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>