<h2 class="text-center"><%= @contributor.brand_name %>のアカウント編集画面</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-ms-6">
      <%= image_tag @contributor.get_profile_image(300,300) %>
    </div>
    <div class="col-md-6 col-ms-6">
      <%= form_with model: @contributor, url: web_admin_contributor_path, method: :patch do |f| %>
        <table>
          <tr>
            <th>Name:  <%= f.text_field :last_name %> <%= f.text_field  :first_name %></th>
          </tr>
          <tr>
            <th>Kana:  <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></th>
          <tr>
            <th>Brand_Name:  <%= f.text_field :brand_name %></th>
          </tr>
          <tr>
            <th>Brand_Image:  <%= f.file_field :profile_image, accept: "image/*" %></th>
          </tr>
          <tr>
            <th>E-mail:<%= f.text_field :email %></th>
          </tr>
          <tr>
            <th>〒  <%= f.text_field :postal_code %></th>
          <tr>
          <tr>
            <th>Address:  <%= f.text_field :address %></th>
          </tr>
          <tr>
            <th>Tel:  <%= f.text_field :telephone_number %></th>
          </tr>
          <tr>
            <th>
              退会ステータス</br>
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, "有効" %>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, "退会" %>
            </th>
          </tr>
          <tr>
            <th><%= f.submit"Keep",class: "btn btn-outline-secondary mr-3vw"%></th>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
