<h1>My_page</h1>
<!-- -->
<%= @contributor.last_name %> <%= @contributor.first_name %></br>
<%= @contributor.last_name_kana %> <%= @contributor.first_name_kana %></br>
<%= @contributor.brand_name %></br>
<%= @contributor.email %></br>
<%= @contributor.postal_code %></br>
<%= @contributor.address %></br>
<%= @contributor.telephone_number %></br>
</br>
<%= link_to "Edit",edit_post_admin_contributor_path(current_contributor.id) %>
