
<h1><%= @contributor.brand_name %></h1>
<%= image_tag @contributor.get_profile_image(700,500) %>
<% if current_customer.following?(@contributor) %>
    <%= link_to contributor_relationships_path(@contributor), method: :delete do %>
    <p>フォロー解除</p>
    <% end %>
<% else %>
    <%= link_to contributor_relationships_path(@contributor), method: :post do %>
    <p>フォロー</p>
    <% end %>
<% end %>

<h3>投稿一覧</h3>
    <% @items.each do |item| %>
        <!--　（contribuctorのID =  contribuctorが投稿したitemのid）が一緒であれば表示されるif文を完成させれえばよい？？　 -->
        <% if item.contributor.id == @contributor.id %>
            <%= link_to item_path(item.id) do %>
              <%= item.name %></br>
              <%= image_tag item.image,size:"300x300" %></br>
              <%= item.introduction %></br>
            <% end %>
        <% end %>
    <% end %>