<link rel="stylesheets" href="public/contribuctor.scss"/>

<div>
    <h1 class="text-center"><%= @contributor.brand_name %></h1>
    <div class="container">
        <div class="row">
            <%= image_tag @contributor.get_profile_image(700,500) %>
            <div>
            <p class="brand-explanation">ブランド説明</p>
            <% if current_customer.following?(@contributor) %>
                <%= link_to contributor_relationships_path(@contributor), method: :delete do %>
                <p>フォロー解除</p>
                <% end %>
            <% else %>
                <%= link_to contributor_relationships_path(@contributor), method: :post do %>
                <p>フォロー</p>
                <% end %>
            <% end %>
            </div>
        </div>
    </div>
</div>

<h3>投稿一覧</h3>
<div class="container">
    <div class="step-box">
        <% @items.each do |item| %>
            <% if item.contributor.id == @contributor.id %>
                <%= link_to item_path(item.id) do %>
                    <div class="card  shadow-lg">
                      <%= image_tag item.image,size:"300x300" %></br>
                      <%= item.name %></br>
                      <%= item.introduction %></br>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>