<link rel="stylesheets" href="public/contribuctor.scss"/>

<div class="brand-area1">
    <div class="container">
        <div class="row">
            <%= image_tag @contributor.get_profile_image(500,500) %>
            <div class="brand-area2">
            <h1 class="text-center"><%= @contributor.brand_name %></h1>
            <p class="brand-explanation">ブランド説明</p>
            <% if current_customer.following?(@contributor) %>
                <%= link_to contributor_relationships_path(@contributor), method: :delete do %>
                <button type="button" class="btn btn-dark">フォロー解除<bottom>
                <% end %>
            <% else %>
                <%= link_to contributor_relationships_path(@contributor), method: :post do %>
                <button type="button" class="btn btn-dark">フォロー</bottom>
                <% end %>
            <% end %>
            </div>
        </div>
    </div>
</div>
<h2 class="text-center">投稿一覧</h>
<div class="container">
    <div class="step-box1-2">
        <% @items.each do |item| %>
            <% if item.contributor.id == @contributor.id %>
                <%= link_to item_path(item.id) do %>
                    <div class="card  shadow-lg">
                      <%= image_tag item.image,size:"300x300" %></br>
                      <%= item.name %></br>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <div class="pa">
        <div><%= paginate @items %></div>
    </div>
</div>