<h2  class="text-center">利用者Log in</h2>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="text-center">
    <%= f.email_field :email, placeholder: "E-mail", autofocus: true, autocomplete: "email" %>
  </div>
  <br>
  <div class="text-center">
    <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password" %>
  </div>
  <!--<%# if devise_mapping.rememberable? %>-->
  <!--  <div class="text-center">-->
  <!--    <%#= f.check_box :remember_me %>-->
  <!--    <%#= f.label :remember_me %>-->
  <!--  </div>-->
  <!--<%# end %>-->
  <br>
  <div class="text-center">
    <%= f.submit "Log in", class: "btn btn-outline-secondary mr-3vw" %>
    <div class="btn btn-outline-secondary mr-3vw ">
      <%= render "public/shared/links" %>
    </div>
  </div>
<% end %>
<br>
<div class="text-center">
  <div class="sosyal">
    <!--<ul>-->
    <!--  <label><%= link_to 'Twitter Log in', customer_twitter_omniauth_authorize_path, class: "twitter", method: :post %></label>-->
    <!--  <il><%= link_to 'Google Log in', customer_google_oauth2_omniauth_authorize_path, class: "google", method: :post %></il>-->
    <!--</ul>-->
      <%= link_to 'Twitter Log in', customer_twitter_omniauth_authorize_path, class: "twitter", method: :post %>
      <%= link_to 'Google Log in', customer_google_oauth2_omniauth_authorize_path, class: "google", method: :post %>
  </div>
</div>

