<!DOCTYPE html>
<html>
  <head>
    <title>FindFashion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <heder>
    <% if web_admin_signed_in? %>
      <li>
        <%= link_to"トップページ", web_admin_homes_top_path %>
      </li>
      <li>
        <%= link_to"投稿者一覧", web_admin_contributors_path %>
      </li>
      <li>
        <%= link_to"利用者一覧", web_admin_customers_path %>
      </li>
      <li>
        <%= link_to"Genre一覧", web_admin_genres_path %>
      </li>
      <li>
        <%= link_to"Log_out",destroy_web_admin_session_path, method: :delete %>
      </li>
    <% elsif contributor_signed_in? %>
      <li>
        <%= link_to"Top_page", post_admin_homes_top_path %>
      </li>
      <li>
        <%= link_to"Follor"%>
      </li>
      <li>
        <%= link_to"My_page", post_admin_contributor_path(current_contributor.id) %>
      </li>
      <li>
        <%= link_to"Log_out",destroy_contributor_session_path, method: :delete %>
      </li>
    <% elsif customer_signed_in? %>

    <% else %>

    <% end %>
  </heder>

  <body>
    <%= yield %>
  </body>
</html>
