<!DOCTYPE html>
<html>
  <head>
    <title>FindFashion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
      <heder class="navbar navbar-fixed-top">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><h3>Find_Fashion</h3></a>
            <nav>
              <ul class="nav">
                <% if web_admin_signed_in? %>
                  <li classs="nav-item">
                    <%= link_to"トップページ", web_admin_homes_top_path %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"投稿者一覧", web_admin_contributors_path %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"利用者一覧", web_admin_customers_path %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"Genre一覧", web_admin_genres_path %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"Log_out",destroy_web_admin_session_path, method: :delete %>
                  </li>
                <% elsif contributor_signed_in? %>
                  <li classs="nav-item">
                    <%= link_to"投稿一覧", post_admin_items_path %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"Follor", followers_post_admin_contributor_path(current_contributor.id) %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"My_page", post_admin_contributor_path(current_contributor.id) %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"Log_out",destroy_contributor_session_path, method: :delete %>
                  </li>
                <% elsif customer_signed_in? %>
                  <li class="nav-item">
                    <%= form_with url: search_path, local: true, method: :get do |f| %>
                      <%= f.text_field :word %>
                      <%= f.select :range, options_for_select([['brand_name'], ['item']]) %>
                      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                      <%= f.submit "検索", class: "btn btn-primary" %>
                    <% end %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"Top_page", homes_top_path %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"About", about_path %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"Follor", followings_customer_path(current_customer.id) %>
                  </li>
                  <li classs="nav-item">
                    <%=link_to"お気に入り一覧", favorites_item_path(current_customer.id) %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"My_page", customer_path(current_customer.id) %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"Log_out",destroy_customer_session_path, method: :delete %>
                  </li>
                <% else %>
                  <li classs="nav-item">
                    <%= link_to"管理者Log_in",new_web_admin_session_path %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"投稿者Log_in",new_contributor_session_path %>
                  </li>
                  <li classs="nav-item">
                    <%= link_to"利用者Log_in",new_customer_session_path %>
                  </li>
                <% end %>
            </nav>
        </div>
    </heder>
    <main class="mb-auto">

  <body>
    <div class="top">
      <%= yield %>
    </div>
  </body>
  <footer>
        <div class="fixed-bottom text-center">
          ＠2023 Find_Fashion
        </div>
  </footer>
</html>
