<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Find_Fashion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- デプロイするときにシークレットを使って検証しよう-->
      <%#= stylesheet_link_tag 'tops', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
    <header>
      <nav class="navbar-light">
        <div class="top-header container d-flex align-items-center ">
          <div class="text-center"><a class="navbar-brand p-3" href="/">Faind_Fashion</a></div>
          <% if customer_signed_in? %>
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word %>
              <%= f.select :range, options_for_select([['brand_name'], ['item']]) %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
              <%= f.submit "search", class: "btn btn-primary" %>
            <% end %>
          <% else %>
          <% end %>
          <div class="ml-auto">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </nav>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <% if web_admin_signed_in? %>
              <li class="nav-item">
                <%= link_to"Contributors", web_admin_contributors_path, class: "btn btn-light btn-block" %>
              </li>
              <li class="nav-item">
                <%= link_to"Customers", web_admin_customers_path, class: "btn btn-light btn-block" %>
              </li>
              <li class="nav-item">
                <%= link_to"Genres", web_admin_genres_path, class: "btn btn-light btn-block" %>
              </li>
              <li class="nav-item">
                <%= link_to"Log_out",destroy_web_admin_session_path, class: "btn btn-light btn-block" , method: :delete %>
              </li>
            <% elsif contributor_signed_in? %>
              <li class="nav-item">
                <%= link_to"Item", post_admin_items_path, class: "btn btn-light btn-block" %>
              </li>
              <li class="nav-item">
                <%= link_to"Follor", followers_post_admin_contributor_path(current_contributor.id), class: "btn btn-light btn-block" %>
              </li>
              <li class="nav-item">
                <%= link_to"My_page", post_admin_contributor_path(current_contributor.id), class: "btn btn-light btn-block" %>
              </li>
              <li class="nav-item">
                <%= link_to"Log_out",destroy_contributor_session_path, class: "btn btn-light btn-block" , method: :delete %>
              </li>
            <% elsif customer_signed_in? %>
              <li class="nav-item">
                <%= link_to"About", about_path, class: "btn btn-light btn-block" %>
              </li>
              <li class="nav-item">
                <%= link_to"Follor", followings_customer_path(current_customer.id), class: "btn btn-light btn-block" %>
              </li>
              <li class="nav-item">
                <%=link_to"favorites", favorites_item_path(current_customer.id), class: "btn btn-light btn-block" %>
              </li>
              <li class="nav-item">
                <%= link_to"My_page", customer_path(current_customer.id), class: "btn btn-light btn-block" %>
              </li>
              <li class="nav-item">
                <%= link_to"Log_out",destroy_customer_session_path, class: "btn btn-light btn-block" , method: :delete %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to"管理者Log_in",new_web_admin_session_path, class: "btn btn-light btn-block" %>
              </li>
              <li class="nav-item">
                <%= link_to"投稿者Log_in",new_contributor_session_path, class: "btn btn-light btn-block" %>
              </li>
              <li class=" nav-item">
                <%= link_to"利用者Log_in",new_customer_session_path, class: "btn btn-light btn-block" %>
              </li>
            <% end %>
          </ul>
        </div>
    </header>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="text-center">
        ＠2023 Find_Fashion
      </div>
    </footer>
  </body>
</html>
